:root {
    --primary-color: rgb(7, 8, 42);
    --secondary-color: rgb(226, 226, 246);
    --accent1-color: hsl(154, 3%, 46%);
    --accent2-color: hsl(326, 43%, 50%);

    --heading-font: Palatino, Georgia, serif;
    --paragraph-font: "Trebuchet MS", Arial, sans-serif;
    --headline-color-on-white: #144266; 
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #144266; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #144266;
    --nav-link-color: #144266;
    --nav-background-color: #78c4d7;
    --nav-hover-link-color: #144266;
    --nav-hover-background-color: #ddfcad;
}

.legend {
    padding: 0.5rem;

}

body {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: var(--accent1-color);
    color: #0e0320;
    display: grid;
    grid-template-columns: 150px auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: var(--primary-color);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: var(--secondary-color);
}

#hero-msg h4 {
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: larger;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--accent1-color);
    grid-column: 1/11;
    grid-row: 4/9;
}

.book,
.join {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.join:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.msg {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}

.msg p {
    color: var(--paragraph-color-on-color);
    font-size: 0.8em;
    font-family: var(--paragraph-font);
    padding-bottom: 15px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.column1 {
    margin: 0.5rem 0;
    grid-template-columns: 1fr 2fr;
}

.column3 {
    margin: 0.5rem 0;
    grid-template-columns: 1fr 2fr;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}


h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1rem;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.map {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}